<div class="landing-container">
  <div class="card">
    <h1>{{ 'WELCOME' | translate }}</h1>
    <p>{{ 'SELECT_OPTION' | translate }}</p>

    <div class="button-group">
      <button mat-raised-button color="primary" [routerLink]="'/create'">
        {{ 'CREATE_GAME' | translate }}
      </button>
      <button mat-raised-button color="accent" [routerLink]="'/join'">
        {{ 'JOIN_GAME' | translate }}
      </button>
    </div>

    <mat-form-field appearance="outline" class="custom-lang-select">
    <mat-label>{{ 'LANGUAGE' | translate }}</mat-label>
      <mat-select [value]="translate.currentLang" (selectionChange)="changeLang($event.value)">
        <mat-option *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
