.join-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.avatar-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.preview {
  text-align: center;

  img {
    max-width: 100px;
    border-radius: 50%;
    border-style: solid;
    transition: border-color 0.3s, border-width 0.3s;
  }
}


.upload-label {
  font-weight: bold;
  margin-top: 10px;
}
